<!DOCTYPE HTML>
<html xmlns="http://www.tymeleaf.org">
<head>
<title>Register Book Information</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}" />

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>

<style>
</style>
</head>
<body class="p-3 bg-light">
	<div class="container">
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4"
				src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
				alt="" width="72" height="72">
			<h2>
				<span th:text="#{book_register.msg.form}" /></span>
			</h2>
			<p class="lead" th:text="#{book_register.msg.explanation}"></p>
			<p class="alert alert-warning" role="alert"
				th:if="${bindingResult != null && bindingResult.hasErrors()}"
				th:text="#{book_register.msg.err.validation}"></p>
		</div>

		<form role="form" action="#" th:action="@{/book/create}"
			th:object="${bookInfoForm}" method="post" class="needs-validation"
			novalidate>
			<!-- 一行目 -->
			<div class="row">
				<!-- ISBN番号 -->
				<div class="col-sm-2 mb-3">
					<label class="control-label" for="isbn"> <sup
						title="required">*</sup><span
						th:text="#{book_register.label.isbn}" />
					</label> <input type="text" class="form-control" id="isbn" name="isbn"
						th:value="${isbn}" />
				</div>
				<!-- author -->
				<div class="col-sm-4 mb-3">
					<label class="control-label" for="author"><span
						th:text="#{book_register.label.author}" /> </label> <input type="text"
						class="form-control" id="author" name="author"
						th:value="*{author}" />
				</div>
			</div>
			
			<!-- 二行目 -->
			<div class="row">
				<!-- fullName -->
				<div class="col-lg-8 mb-3">
					<label class="control-label" for="fullName"> <sup
						title="required">*</sup> <span
						th:text="#{book_register.label.fullName}"></span>
					</label> <input type="text" class="form-control" id="fullName"
						name="fullName" th:value="*{fullName}">
					<div class="row">
						<div class="col-lg-12 mt-1"
							th:if="${#fields.hasErrors('fullName')}">
							<div class="alert alert-danger" role="alert"
								th:errors="*{fullName}"></div>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<a class="btn btn-success btn-lg btn-block" id="searchcandidates"
						name="search" data-toggle="modal" data-target="#candidate-display"><span
						th:text="#{book_register.btn.search}"></span></a>
				</div>
			</div>
			<!-- 三行目 -->
			<div class="row">
			<!-- ジャンル -->
				<div class="col-sm-3 mb-3">
					<label class="control-label" for="category"> <sup
						title="required">*</sup><span
						th:text="#{book_register.label.category}" />
					</label> <select class="form-control" id="category" name="category">
						<option value="" selected="true"></option>
						<option th:each="item : ${bookCategory}" th:value="${item}"
							th:text="${item}" th:selected="${item} == *{category}"></option>
					</select>
					<div class="invalid-feedback">
						<span th:if="${#fields.hasErrors('category')}"
							th:errors="*{category}" class="help-block"></span>
					</div>
				</div>
				<!-- abbName -->
				<div class="col-lg-3 mb-3">
					<label class="control-label" for="abbName"><span
						th:text="#{book_register.label.abbName}" /> </label> <input type="text"
						class="form-control" id="abbName" name="abbName"
						th:value="*{abbName}" />
					<div th:if="${#fields.hasErrors('abbName')}">
						<span class="alert alert-danger" role="alert"
							th:errors="*{abbName}"></span>
					</div>
				</div>
				<!-- publisher -->
				<div class="col-sm-4 mb-3">
					<label class="control-label" for="publisher"><span
						th:text="#{book_register.label.publisher}" /> </label> <input type="text"
						class="form-control" id="publisher" name="publisher"
						th:value="*{publisher}" />
				</div>
				<!-- points -->
				<div class="col-sm-1 mb-3">
					<label class="control-label" for="points"> <span
						th:text="#{book_register.label.points}" />
					</label> <input type="text" class="form-control" id="points" name="points"
						th:value="*{points}" />
				</div>
			</div>

			<!-- 四行目 -->
			<div class="row">
				<!-- brief -->
				<div class="col-xl-12 mb-3">
					<label class="control-label" for="brief"> <span
						th:text="#{book_register.label.brief}" />
					</label>
					<textarea rows="3" cols="80" class="form-control" id="brief"
						name="brief" th:value="*{brief}"></textarea>
				</div>
			</div>

			<!-- 五行目 -->
			<div class="row">
				<!-- cmt -->
				<div class="col-xl-12 mb-3">
					<label class="control-label" for="cmt"> <span
						th:text="#{book_register.label.cmt}" />
					</label>
					<textarea rows="3" cols="80" class="form-control" id="cmt"
						name="cmt" th:value="*{cmt}"></textarea>
				</div>
			</div>


			<!-- 六行目 -->
			<div class="row">
				<!-- keywords -->
				<div class="col-sm-5 mb-3">
					<label class="control-label" for="keywords"><span
						th:text="#{book_register.label.keywords}" /> </label> <input type="text"
						class="form-control" id="keywords" name="keywords"
						th:value="*{keywords}" />
				</div>
				<!-- tags -->
				<div class="col-sm-5 mb-3">
					<label class="control-label" for="tags"><span
						th:text="#{book_register.label.indexes}" /> </label> <input type="text"
						class="form-control" id="tags" name="tags" th:value="*{tags}" />
				</div>
				<!-- bookmark -->
				<div class="col-sm-2 mb-3">
					<label class="control-label" for="bookmark"> <sup
						title="required">*</sup> <span
						th:text="#{book_register.label.bookmark}" />
					</label> <input type="text" class="form-control" id="bookmark"
						name="bookmark" th:value="*{bookmark}" />
				</div>
			</div>


			<!-- 七行目 -->
			<div class="row">
				<!-- startDate -->
				<div class="col-sm-3 mb-2">
					<label class="control-label" for="startDate"><sup
						title="required">*</sup><span
						th:text="#{book_register.label.startDate}" /> </label> <input type="text"
						class="form-control" id="startDate" name="startDate"
						th:value="${#temporals.format(bookInfoForm.startDate, 'yyyy/MM/dd')}" />
					<div class="row">
						<div class="col-lg-12 mt-1"
							th:if="${#fields.hasErrors('startDate')}">
							<div class="alert alert-danger" role="alert"
								th:errors="*{startDate}"></div>
						</div>
					</div>
				</div>
				<!-- interruptDate -->
				<div class="col-sm-3 mb-2">
					<label class="control-label" for="interruptDate"> <span
						th:text="#{book_register.label.interruptDate}" />
					</label> <input type="text" class="form-control" id="interruptDate"
						name="interruptDate"
						th:value="${#temporals.format(bookInfoForm.interruptDate, 'yyyy/MM/dd')}" />
					<div class="row">
						<div class="col-lg-12 mt-1"
							th:if="${#fields.hasErrors('interruptDate')}">
							<div class="alert alert-danger" role="alert"
								th:errors="*{interruptDate}"></div>
						</div>
					</div>
				</div>
				<!-- restartDate -->
				<div class="col-sm-3 mb-2">
					<label class="control-label" for="restartDate"> <span
						th:text="#{book_register.label.restartDate}" />
					</label> <input type="text" class="form-control" id="restartDate"
						name="restartDate"
						th:value="${#temporals.format(bookInfoForm.restartDate, 'yyyy/MM/dd')}" />
					<div class="row">
						<div class="col-lg-12 mt-1"
							th:if="${#fields.hasErrors('restartDate')}">
							<div class="alert alert-danger" role="alert"
								th:errors="*{restartDate}"></div>
						</div>
					</div>
				</div>
				<!-- endDate -->
				<div class="col-sm-3 mb-2">
					<label class="control-label" for="endDate"> <span
						th:text="#{book_register.label.endDate}" />
					</label> <input type="text" class="form-control" id="endDate"
						name="endDate"
						th:value="${#temporals.format(bookInfoForm.endDate, 'yyyy/MM/dd')}" />
					<div class="row">
						<div class="col-lg-12 mt-1"
							th:if="${#fields.hasErrors('endDate')}">
							<div class="alert alert-danger" role="alert"
								th:errors="*{endDate}"></div>
						</div>
					</div>
				</div>

			</div>

			<!-- 八行目 -->
			<div class="row">
				<!-- requiredDays -->
				<div class="col-sm-2 mb-2">
					<label class="control-label" for="requiredDays"> <sup
						title="required">*</sup> <span
						th:text="#{book_register.label.requiredDays}" />
					</label> <input type="text" class="form-control" id="requiredDays"
						name="requiredDays" th:value="*{requiredDays}" />
				</div>
				<!-- purchaseDate -->
				<div class="col-sm-3 mb-2">
					<label class="control-label" for="purchaseDate"> <span
						th:text="#{book_register.label.purchaseDate}" />
					</label> <input type="text" class="form-control" id="purchaseDate"
						name="purchaseDate"
						th:value="${#temporals.format(bookInfoForm.purchaseDate, 'yyyy/MM/dd')}" />
					<td th:if="${#fields.hasErrors('purchaseDate')}" width="100%">
						<span class="alert alert-danger" role="alert"
						th:errors="*{purchaseDate}"></span>
					</td>
				</div>

				<!-- price -->
				<div class="col-sm-2 mb-2">
					<label class="control-label" for="price"><span
						th:text="#{book_register.label.price}" /> </label> <input type="text"
						class="form-control" id="price" name="price" th:value="*{price}" />
				</div>
				<!-- actualPrice -->
				<div class="col-sm-2 mb-2">
					<label class="control-label" for="actualPrice"><span
						th:text="#{book_register.label.actualPrice}" /> </label> <input
						type="text" class="form-control" id="actualPrice"
						name="actualPrice" th:value="*{actualPrice}" />
				</div>
			</div>

			<!-- 九行目 -->
			<div class="row">
				<!-- shopName -->
				<div class="col-sm-3 mb-2">
					<label class="control-label" for="shopName"><span
						th:text="#{book_register.label.shopName}" /> </label> <input type="text"
						class="form-control" id="shopName" name="shopName"
						th:value="*{shopName}" />
				</div>
				<!-- shopUrl -->
				<div class="col-sm-9 mb-5">
					<label class="control-label" for="shopUrl"><span
						th:text="#{book_register.label.shopUrl}"></span> </label> <input
						type="text" class="form-control" id="shopUrl" name="shopUrl"
						placeholder="http://" th:value="*{shopUrl}" />
				</div>
			</div>

			<div class="row">
				<div class="col-xl-12 mb-5">
					<button type="submit" class="btn btn-primary btn-lg btn-block"
						name="create">
						<span th:text="#{book_register.btn.register}" />
					</button>
				</div>
			</div>
			<div th:replace="book/candidate_display::candidate-display"></div>
			<script th:inline="javascript">
				/*<![CDATA[*/
				$(document).on("click", "#btn-candidate-display", function() {
					$('#isbn').val(bookdata.isbn);
					$('#fullName').val(bookdata.title);
					$('#author').val(bookdata.author);
					$('#publisher').val(bookdata.publisher);
					$('#price').val(bookdata.price);
					$('#candidate-display').modal('hide');

				});
				/*]]>*/
			</script>
		</form>

	</div>
	<footer class="container">
		<p>&copy; E-Kanegea 2020</p>
	</footer>

</body>
</html>